@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins Semi;
  src: url(fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: Poppins Bold;
  src: url(fonts/Poppins-Bold.ttf);
}

body {
  background-color: #FEFCFF;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

.header {
  width: 100%;
  z-index: 3;
  height: 150px;
}

.header #logo {
  position: absolute;
  height: 125px;
  width: auto;
  margin-top: 10px;
  margin-left: 50px;
  z-index: 3;
}

.header #banner {
  position: absolute;
  height: 70px;
  width: 93%;
  right: 0%;
  margin-top: 40px;
}

.header .links {
  position: absolute;
  display: flex;
  right: 150px;
  margin-top: 22px;
  align-items: center;
}

.header .links li {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #FFDA56;
  margin-top: 30px;
  margin-left: 80px;
  list-style-type: none;
  font-family: Poppins Semi, sans-serif;
  border-radius: 10px;
  border: 2px solid white;
  transition: all .2s ease-in-out;
  box-shadow:
    1.5px 1.9px 2.3px rgba(0, 0, 0, 0.017),
    3.7px 4.5px 5.5px rgba(0, 0, 0, 0.024),
    7px 8.5px 10.4px rgba(0, 0, 0, 0.03),
    12.5px 15.2px 18.5px rgba(0, 0, 0, 0.036),
    23.4px 28.4px 34.7px rgba(0, 0, 0, 0.043),
    56px 68px 83px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.header .links li:hover {
  transform: scale(1.2);
}

.header .links li a {
  text-decoration: none;
  color: rgb(32, 32, 32);
}

section {
  position: relative;
  min-height: 100vh;
}

section .container {
  background-color: aqua;
  width: 80%;
  position: absolute;
  transform: translate(-50%, -10%);
  background-image: url(assets/chicken_bg.jpeg);
  background-size: cover;
  left: 50%;
  border-radius: 20px;
  top: 100px;
  height: 500px;
  box-shadow:
    2.9px 2.8px 2.8px rgba(0, 0, 0, 0.039),
    6.8px 6.7px 6.7px rgba(0, 0, 0, 0.057),
    12.9px 12.5px 12.5px rgba(0, 0, 0, 0.07),
    23px 22.3px 22.3px rgba(0, 0, 0, 0.083),
    43px 41.8px 41.8px rgba(0, 0, 0, 0.101),
    103px 100px 100px rgba(0, 0, 0, 0.14);
}

.container .title {
  position: relative;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 70px;
  text-align: center;
  top: 0%;
  background-color: #A72C2C;
}

.container .title h3 {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  color: beige;
  top: 50%;
  margin: 0%;
  font-size: 30px;
  font-family: Poppins Semi, sans-serif;
}

section .container .order {
  position: relative;
  text-align: center;
  transform: translate(-50%, -30%);
  left: 50%;
  top: 30%;
}

.container .order h3 {
  text-shadow: 4px 3px 0 #7A7A7A;
  color: beige;
  margin-bottom: 80px;
  font-size: 40px;
  font-family: Poppins Bold, Arial, Helvetica, sans-serif;
}

.container .order #orderbtn {
  background-color: #FFDA56;
  color: rgb(32, 32, 32);
  border: none;
  text-decoration: none;
  font-family: Poppins Semi, Arial, Helvetica, sans-serif;
  font-size: 15px;
  width: 200px;
  padding: 10px;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  transition: all 500ms ease-out;
  border-radius: 8px;
}

.container .order #orderbtn:hover {
  box-shadow: none;
  background-color: #FCC70E;
  border-radius: 10px;
}

footer {
  width: 100%;
  background-color: #A72C2C;
  border-radius: 10px 10px 0px 0px;
}

footer .socmedLinks .social {
  position: relative;
  justify-content: space-around;
  width: 400px;
  display: flex;
  transform: translate(-50%);
  left: 50%;
  padding: 5px;
}

.social a img {
  margin: 10px;
  transition: all .2s ease-in-out;
  width: 30px;
}

.social a img:hover {
  transform: scale(1.2);
}

.right {
  left: 50%;
  transform: translate(-50%);
  position: relative;
  padding: 5px;
}

footer .right .copyright {
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: Poppins, sans-serif;
}